# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Django
db.sqlite3
*.log
staticfiles/

# Environment / secrets
.env
.env.*
!.env.example

# Node
node_modules/

# Hardhat
cache/
artifacts/

# IDE
.vscode/
.idea/

# OS
.DS_Store
